extends layout
block content
    div(class="col-lg-12")
        div(class="ibox chat-view")
            div(class="ibox-title") Live Feed
            div(class="ibox-content")
                div(class="row")
                    div(class="col-md-9")
                        div(class="chat-discussion")
                    div(class="col-md-3")
                        div(class="chat-users")
                            div(class="users-list")