script(src='/js/jquery-2.1.1.js')
script(src='/js/jquery-ui.custom.min.js')
script(src='/js/jquery-ui-1.10.4.min.js')
script(src='/js/bootstrap.js')
script(src='/js/plugins/slimscroll/jquery.slimscroll.min.js')
script(src='/js/plugins/metisMenu/jquery.metisMenu.js')
script(src='/js/plugins/pace/pace.min.js')
script(src='https://cdn.socket.io/socket.io-1.3.7.js')
script(src='/js/livefeed.js')